.flair-somename {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

/* Theme: DSCVRY by doingstuffcarl/jillpatel (/r/dscvry)
   Night Mode: nm.reddit.com/r/YOUR_SUBREDDIT */



/*** FLAIRS ***/

/* LINK FLAIR */

.linkflairlabel {
    display: initial;
    position: relative;
    padding: 2.5px 4px;
    top: -2px;
}

.linkflair-loud .linkflairlabel {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    color: #fff;
}

.linkflair-misleading .linkflairlabel {
    background-color: #34495e;
    border: 1px solid #34495e;
    color: #fff;
}

.linkflair-announcement .linkflairlabel {
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: #fff;
}

.sidecontentbox .linkflairlabel {
    margin-left: 5px;
    top: -1px;
    margin-right: 5px;
}

/* USER FLAIR */

.flair {
    padding: 2px 4px;
}

.tagline .flairselector.drop-choices.active {
    top: 520px !important;
    left: auto !important;
    right: 8px;
    width: 290px !important;
}

/*** END FLAIRS ***/

.submit_text.enabled {
    margin-bottom: -2px;
}

/*** BODY ***/

body {
    background: #f0f0f0;
}

html {
    min-width: 848px;
}

a {
    color: #0C83D6;
}

a:hover {
    text-decoration: none !important;
    color: #000;
}


/*** SCROLLBAR ***/


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #111111;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
		
::-webkit-scrollbar-corner {
    background-color: transparent;
    color: #555555;
}


/*** SELECTION ***/


::selection {
    background-color: #d75959;
    color: #fff;
}

/*** HEADER ***/

#sr-header-area .sr-list .separator {
    visibility: hidden;
}

#sr-header-area {
    border-bottom: none !important;
    background: none !important;
}

#sr-more-link {
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 13px 4px 15px;
    color: #fff;
    text-decoration: none !important;
    opacity: .3;
    top: 30px;
    right: 10px;
    border-radius: 15px;
    transition: 300ms;
}

#sr-more-link:hover {
    opacity: 1;
}

#sr-header-area .srdrop.dropdown {
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(%%icons%%) no-repeat 13px 13px transparent;
    line-height: 23px;
    text-indent: -999em;
    opacity: 0.6;
    cursor: pointer;
}

#sr-header-area .srdrop.dropdown:hover {
    opacity: 1;
}

#sr-header-area .drop-choices.srdrop {
    margin-left: 0;  
    min-width: 130px;
}

#sr-header-area .drop-choices, .lightdrop.drop-choices {
    font-size: 12px;
    border: none;
    padding: 2px;
    background: #1E1E20;
}

.drop-choices a.choice {
    padding: 2px;
    color: #AEAEAE;
    font-size: 10px;
}

.drop-choices a.choice:hover {
    background: #333;
    color: #eee;
}

#sr-header-area .sr-list {
    margin-top: 8px;
    margin-left: 40px;
}

.sr-bar a {
    color: #fff !important;
    opacity: .25;
    text-decoration: none !important;
}

.sr-bar a:hover {
    opacity: 1;
}

#header {
    background: url(%%android-wear%%);
    border: 0px;
    border-bottom: none;
    height: 200px;
    position: relative;
}

#header-img:hover, .pagename a:hover {
    opacity: 1;
}

.pagename a {
    /*width: 469px;*/
    width: 250px;
    height: 59px;
    display: block;
    transition: 200ms;
    text-indent: 100%;
    overflow: hidden;
    margin: 42px auto 0px auto !important;
    opacity: .3;
}

span.hover.pagename.redditname {
    display: block;
    margin-top: -14px;
    margin-left: -5px;
    font-size: 0px;
}

#header-bottom-right {
    background: none;
    z-index: 11;
    padding: 10px;
    font-family: helvetica;
    font-size: 12px;
    bottom: -1px;
}

#header-bottom-right a {
    color: #ccc;
    text-decoration: none;
}

#header-bottom-right a:hover {
    color: #fcfcfc;
}

#header-bottom-right .user {
    color: #2e2e2e;

}

#header-bottom-right .user .userkarma {
    color: #e2e2e2;
    border: none;
}

.separator {
    visibility: hidden;
}

#header-bottom-left .tabmenu {
    background: rgba(0,0,0,0.1);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#header-bottom-left .tabmenu li {
    font-weight: normal;
}

#header-bottom-left .tabmenu li a {
    background: none;
    color: #797979;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 30px;
}

#header-bottom-left .tabmenu li.selected a {
    background: none;
    border: 0;
    color: #fff;
}


/*** LINKS ***/


.pretty-button {
    border-radius: 2px;
    padding: 2px 6px;
}

.pretty-button:hover {
    background: #2e2e2e!important;
    border: 1px solid black !important;
    color: #fff;
}

.pretty-button.neutral {
    background-image: none;
    background: #ddd;
    border: 1px solid #CECECE;
}

.pretty-button.neutral.pressed {
    background-image: none;
    background: #ccc;
    border: 1px solid #CECECE;
}

.pretty-button.positive {
    background-image: none;
    background: #abffae;
    border: 1px solid #91da93;
}

.pretty-button.negative {
    background-image: none;
    background: #ffabab;
    border: 1px solid #d68d8d;
}

.pretty-form input[type=text], .pretty-form textarea, .pretty-form input[type=password], .pretty-form input[type=number] {
    box-shadow: none;
}

.entry .buttons li.reported-stamp {
    border-radius: 2px;
    padding: 0 6px;
    background: #FFEC96;
    border: 1px solid #E7D47C !important;
}

.entry .buttons li a {
    font-weight: normal;
}

.entry .buttons a:hover {
    text-decoration: none;
    color: #000;
}

.link .entry {
    padding: 15px 0 15px 0;
}

.link .entry li .comments {
    font-weight: bold;
    font-style: italic;
    color: #34495e;
    padding-bottom: 1px;
}

.link .entry li .comments:hover {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.tagline .submitter {
    color: #c0392b;
}

.noncollapsed .tagline {
    margin-left: 0;
}

.tagline a:hover {
    text-decoration: none;
    color: #000;
}

.thing .title.loggedin.click:hover, .thing .title.click:hover, .thing .title.loggedin:hover, .thing .title:hover {
    text-decoration: none !important;
}

.thing .title {
    margin-bottom: 2px;
    color: #0C83D6;
    font-family: sans-serif;
}

.thing.stickied a.title {
    font-weight: normal;
}

.thing.stickied a.title, .thing.stickied a.title:visited, .thing.stickied a.title.visited, .tagline .stickied-tagline {
    color: #27ae60;
}

.domain {
    color: #ccc;
    text-decoration: none;
}

.domain a {
    padding: 1px 3px 3px 3px;
    text-decoration: none;
    text-align: center;
    color: #ccc;
}

.domain a:hover {
    text-decoration: none;
    color: #aaa;
}

.thing .title.loggedin:visited, .thing .title:visited {
    color: #8A8888;
}

.thing .sitetable {
    margin-right: 0;
}

.commentarea .sitetable {
    border: 0;
}

.single-page .content .sitetable .thing a.thumbnail {
    margin-right: -20px;
}

.link {
    padding: 0px 0px 0px 20px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0px;
    position: relative;
}

.link .rank {
    margin-right: 10px;
    margin-top: 30px;
    position: relative;
    color: #dadada;
}

body >.content .link .midcol, .midcol-spacer {
    width: 5.1ex;
}

.link .midcol {
    top: 15px;
    position: relative;
}

.menuarea {
    border-bottom: none;
}

.menuarea .dropdown.lightdrop .selected {
    text-decoration: none;
    color: #2e2e2e;
}

.content {
    margin: 8px 315px 0px 8px;
}

.content .spacer {
    margin-bottom: 4px;
}

.link.last-clicked {
    overflow: visible !important;
    border: 1px dashed #cacaca;
}

.expando iframe {
    margin: 5px 0 5px 40px;
}

.expando-button {
    height: 20px !important;
    width: 20px !important;
    margin: 4px 8px 2px 0;
    border-radius: 2px;
    cursor: pointer;
    background: url(%%icons%%) no-repeat -9999px -9999px !important;
}

.toggleImage.expando-button.image.linkImg {      
      height: 20px !important;   
      width: 20px !important;   
      margin: 4px 8px 2px 0;    
      cursor: pointer;    
}   

.expando-button.image.expanded {
    background-position: 0 -98px !important;
}

.expando-button.image.expanded:hover {
    background-position: -20px -98px !important;
}

.expando-button.image.collapsed {
    background-position: 0 -98px !important;
}

.expando-button.image.collapsed:hover {
    background-position: -20px -98px !important;
}

.expando-button.video.expanded {
    background-position: 0 -78px !important;
}

.expando-button.video.expanded:hover {
    background-position: -20px -78px !important;
}

.expando-button.video.collapsed {
    background-position: 0 -78px !important;
}

.expando-button.video.collapsed:hover {
    background-position: -20px -78px !important;
}

.expando-button.selftext.collapsed {
    background-position: 0px -38px !important;
}	
			
.expando-button.selftext.collapsed:hover {
    background-position: -20px -38px !important;
}

.expando-button.selftext.expanded {
    background-position: 0px -58px !important;
}				
	
.expando-button.selftext.expanded:hover {
    background-position: -20px -58px !important;
}

.link .usertext .md {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 0px 8px !important;
    width: calc(100% - 80px);
}

.arrow {
    width: 15px;
    height: 14px;
    background-image: url(%%icons%%)!important;
    background-position: center center;
    border: none !important;
}

.arrow.up {
    background-position: 0px -24px !important;
}

.arrow.down {
    background-position: -30px -24px !important;
}
 .arrow.upmod { 
    background-position: -15px -24px;
 }
 .arrow.downmod { 
    background-position: -45px -24px;
 }

.link .score {
    margin-bottom: 0px;
    color: #999;
}

.thumbnail {
    border-radius: 2px;
    max-height: 50px;
    margin: 15px 10px 0 5px!important;
}

body:not(.search-page) #search {
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
}

#searchexpando {
    border-radius: 0px;
    margin: 0 6px 6px 6px;
    background: #fff;
}

#moresearchinfo {
    border: 0 solid #ddd;
}

.infobar {
    background: #f1f1f1;
    border: 1px solid #d5d5d5;
}

.linkinfo {
    border-radius: 0px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.linkinfo .shortlink {
    margin-top: -8px;
    color: transparent;
}

.linkinfo .shortlink input {
    border: 1px solid #e2e2e2;
    padding: 6px 12px;
    width: 252px;
    text-align: center;
}

.nsfw-stamp acronym {
    background: #c0392b;
    border: 1px solid #c0392b !important;
    color: #fff;
    border-radius: 2px;
}

.nav-buttons {
    margin: 16px 0;
    font-size: 0px;
}

.nextprev a, .next-suggestions a {
    padding: 8px 16px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.nextprev a:hover, .next-suggestions a:hover {
    background: #fff;
    border: 1px solid #cacaca;
    color: #0C83D6;
}


/*** COMMENTS ***/


.commentarea {
    margin-top: 8px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    color: #3b3b3b;
}

.commentarea .md blockquote, .usertext-body .md blockquote {
    margin: 8px;
    border: none;
    border-left: 3px solid #3498db;
    padding: 4px 12px;
}

.commentarea .md blockquote, .commentarea .md blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .thing .md blockquote, .usertext-body .md blockquote blockquote blockquote  {
    background: #f5f5f5;
}

.commentarea .md blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, .usertext-body .md blockquote blockquote, .usertext-body .md blockquote blockquote blockquote blockquote {
    background: #fbfbfb;
}

.commentarea .md td, .commentarea .md th {
    padding: 3px 6px;
}

.commentarea .menuarea .toggle a {
    font-weight: normal;
    margin-right: 5px;
}

.comment .child, .comment .showreplies {
    border-left: 1px solid #F3F3F3;
}

.comment.collapsed .tagline, .comment.collapsed .tagline a {
    margin-left: 0;
}

.panestack-title {
    border-bottom: 1px solid #ececec;
    width: 507px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


/*** SIDEBAR ***/


.side {
    background-color: transparent;
    margin: 8px 8px 10px 8px;
    border-radius: 0px;
    padding: 0;
    width: 300px;
    font-family: sans-serif !important;
}

.side .spacer {
    margin: 0 0 8px 0;
}

.sidebox.create .spacer {
    margin: 0;
    padding-top: 12px;
    border: 1px solid #e2e2e2;
}

.sidebox.create .spacer a {
    top: 6px;
    left: 6px;
}

.side .titlebox .tagline {
    margin: 0;
    padding: 0px 5px 5px 25px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-top: 0;
}

.side .md blockquote {
    border: 1px solid #e2e2e2;
    padding: 0px;
    background: #ffffff;
    color: #3d3d3d;
    line-height: 16px;
    margin-bottom: 8px;
}

.side .md blockquote h3 {
    padding: 8px;
    color: #2e2e2e;
    text-align: center;
    font-weight: normal;
    font-size: medium;
    font-family: sans-serif;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
}
.side .md blockquote h3 ~ * {
    padding: 0 8px;
}
.side .md blockquote a {
    color: #0C83D6;
}

.side .md blockquote a:hover {
    color: #000;
}

.side .md blockquote, .side .help blockquote {
    margin-right: 0px;
    margin-left: 0px;
}

.side .md ul {
    list-style: square;
}

.sidecontentbox .content {
    border: 1px solid #e2e2e2;
    background: #fff;
    padding: 4px 8px;
    margin-top: 4px;
}

.sidecontentbox .title {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    padding: 8px;
    margin-bottom: -5px;
}

.sidecontentbox a.helplink {
    position: relative;
    background: url(%%modmessage%%) no-repeat;
    font-size: 0;
    right: 85px;
    height: 16px;
    width: 16px;
    margin-top: 8px;
    opacity: .3;
}

.sidecontentbox a.helplink:hover {
    opacity: .6;
}

.gadget .reddit-entry {
    line-height: 17px;
}

.account-activity-box {
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    padding: 8px;
    margin-top: -9px;
}

#search input[type=text] {
    border: 1px solid #e2e2e2;
    font-size: 15px;
    width: 286px;
    margin: 6px 0 6px 6px;
    font-size: 12px;
}

#search input[type=text]:focus {
    outline: none;
}

.login-form-side {
    border: 1px solid #ddd;
}

.login-form-side input[type=text], .login-form-side input[type=password] {
    border: 1px solid #ddd;
    width: 119px;
    height: 17px;
    margin: 5px 0px 0px 5px;
    top: 5px;
    padding: 5px 10px;
}

.sponsorshipbox iframe {
    margin-bottom: -2px;
}

.morelink {
    background: transparent !important;
    border: none;
    margin-bottom: 22px;
}

.morelink a {
    color: #fff;
    letter-spacing: 0px;
    font-family: sans-serif;
    line-height: 41px;
    height: 41px;
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    transition: 200ms;
    width: initial;
    border-radius: 30px;
}

.morelink a:hover {
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #2e2e2e !important;
}

.morelink .nub {
    display: none;
}

.titlebox h1 a {
    display: block;
    text-align: center;
    font-size: 14px;
}

.titlebox h1 a:hover {
    text-decoration: none;
    color: #666;
}

.users-online:before {
    background: none;
}

div.titlebox span.word {
    display: none;
}

span.subscribers {
    float: right;
}

div.titlebox span.number:after {
    content: " readers";
}

.titlebox .users-online .number:before {
    content: "(";
}

.titlebox .users-online .number:after {
    content: " here)";
}

.titlebox .users-online {
    display: none;
}

.fancy-toggle-button .add, .RESshortcutside, .RESDashboardToggle {
    background: #67ae34 !important;
    border: 1px solid #67ae34 !important;
    transition: 100ms !important;
}

.fancy-toggle-button .add:hover, .RESshortcutside:hover, .RESDashboardToggle:hover {
    background: #fff !important;
    color: #67ae34 !important;
}

.fancy-toggle-button .remove, .RESshortcutside.remove, .RESDashboardToggle.remove {
    background: #e9e9e9 !important;
    border: 1px solid #e2e2e2 !important;
    transition: 100ms !important;
    color: #a5a5a5 !important;
}

.fancy-toggle-button .remove:hover, .RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover {
    background: #fff !important;
}

.hover-bubble.multi-selector {
    display: none !important;
}

.md blockquote, .help blockquote {
    margin: 0px;
    border: 1px solid #ccc;
    padding: 4px 12px;
    background: #fff;
}

.md hr {
    border: none;
    background: transparent;
}

.titlebox form.toggle, .leavemoderator {
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
}

.titlebox .bottom {
    border-top: none;
    padding: 4px 8px;
    background: #fff;
    border: 1px solid #e2e2e2;
}

#ad-frame, #ad_main {
    background: #fff;
    border: 1px solid #e2e2e2;
}

/*** FOOTER ***/

.footer-parent {
    padding-bottom: 40px;
    background: #f5f5f5;
    border-top: 1px solid #e2e2e2;
}

.footer {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    padding: 15px 5px;
}

.footer .title {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
}

.footer a {
    color: #888;
    text-decoration: none !important;
}

.footer a:hover {
    color: #bbb;
}

.buygold {
    color: #D5AC3D !important;
    font-weight: normal;
}

.footer .col {
    border-left: none;
}

.debuginfo {
    margin-top: -30px;
}

/*** SUBMISSION PAGE ***/


.content h1 {
    display: none
}

.formtabs-content {
    border-top: none;
    padding-top: 0px;
    margin-left: -8px;
}

.formtabs-content .infobar {
    width: 520px;
}

.roundfield {
    border-radius: 0px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 15px;
    font-size: medium;
    color: #2e2e2e;
}

.roundfield textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield input[type=password], .roundfield input[type=number], .usertext-edit textarea {
    border: 1px solid #e2e2e2;
    outline: none;
}

textarea:focus, input#sr-autocomplete:focus, .usertext-edit textarea:focus, .roundfield input[type=url]:focus {
    border: 1px solid #cacaca;
}

.roundfield span.title {
    text-transform: capitalize;
}

.roundfield .usertext-edit {
    padding-left: 0px;
}

div#title-field {
    padding-bottom: 12px;
}

.roundfield span.gray {
    visibility: hidden;
}

.roundfield:nth-of-type(5) {
    margin: 3px 0;
}

.content.submit .info-notice {
    background: #FFE0E0;
    border: 1px solid #EED3D3;
    border-radius: 0px;
    margin-bottom: 5px;
    margin-left: -8px;
    width: 512px;
}

.content.submit .spacer button.btn {
    width: 532px;
    height: 40px;
    margin-left: -8px;
    margin-top: 3px;
    background: #2e2e2e;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
}

.spacer button.btn:hover {
    opacity: .9;
}

#suggested-reddits {
    display: none;
}

ul.tabmenu.formtab {
    position: absolute;
    top: 170px;
    z-index: 999;
    background: none;
}

.selected a.link-button.choice, .selected a.text-button.choice {
    padding: 6px 18px;
    background: #d75959;
}

a.text-button.choice, a.link-button.choice {
    padding: 6px 18px;
    border: 0;
    background: #fff;
}

form .spacer+.spacer {
    margin: 8px 0;
}


/*** THUMBNAILS ***/

a.thumbnail.default {
    background-image: url(%%default%%);
    background-position: 0;
}

a.thumbnail.self {
    background-image: url(%%self%%);
    background-position: 0;
}

.stickied a.thumbnail {
    background-image: url(%%stickied%%);
    background-position: 0;
}

a.thumbnail.nsfw {
    background-image: url(%%nsfw%%);
    background-position: 0;
}


/*** RES ***/

.res #header-bottom-right {
    top: 172px !important;
    right: 6px;
    padding-left: 10px;
}

.res .RES-keyNav-activeElement {
    background-color: #f8f8f8!important;
    background: linear-gradient(to right,#fff 0%,#f8f8f8 8%,#f3f3f3 100%);
    border-right: 3px solid #D8D8D8;
}

.res #userbarToggle {
    top: 0;
    height: 0px;
    min-height: 0;
    width: auto;
    padding: 13px 8px;
    background: #333;
    border-radius: 2px;
    border: none;
    line-height: 0;
    color: #a0a0a0;
}

.res .res-navTop #userbarToggle.userbarShow, .res#userbarToggle.userbarShow {
    top: 0;
    right: -3px;
    left: auto;
    height: 0px;
    min-height: 0;
    width: auto;
}

.res #RESShortcutsEditContainer {
    padding: 3px 2px;
}

.res #RESShortcutsEditContainer {
    background: transparent;
    top: 20px;
    right: 20px;
}

.res #RESShortcutsAddFormContainer {
    top: 55px;
}

.res #RESShortcutsSort, .res #RESShortcutsRight, .res #RESShortcutsLeft, .res #RESShortcutsAdd, .res #RESShortcutsTrash {
    background: none;
}

.RESDropdownList {
    top: 209px !important;
    right: 8px !important;
    background: #fcfcfc;
    width: 298px !important;
    border-radius: 0;
    border: 1px solid #ddd;
}

#RESAccountSwitcherDropdown {
    left: auto !important;
}

.RESDropdownList li, .RESDropdownList a {
    border: none;
    color: #6f6e69;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: 200ms;
}

.RESDropdownList li:hover {
    border-left: 5px solid #ed7577;
    background: #f4f4f4;
    color: #000;
}

.RESDropdownList li a {
    width: 100% !important;
}

.RESDropdownList li a:hover {
    background: #f4f4f4;
    color: #000;
}

#RESSearchMenuItem {
    background-color: #232323;
    border: 1px solid #232323;
}

#RESSearchMenuItem:hover {
    background-color: #fff !important;
}

#SettingsConsole:hover > #RESSearchMenuItem {
    background-color: #ddd;
    border: 1px solid #ddd;
}

.toggleButton {
    text-transform: lowercase;
}

.toggleOn:hover, .toggleOff:hover {
    background: #fff !important;
    color: #232323 !important;
}

.moduleToggle .toggleOn, .toggleButton .toggleOn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    line-height: 14px;
}

.moduleToggle .toggleOff, .toggleButton .toggleOff {
    background-color: #e74c3c;
    border: none;
    line-height: 14px;
}

#RESMainGearOverlay {
    top: 83px !important;
    left: auto !important;
    right: 105px !important;
    height: 25px !important;
    border-radius: 2px;
    display: none !important;
}

.gearIcon {
    border-radius: 2px;
    cursor: pointer;
}

.RESNotificationHeader .gearIcon {
    position: absolute;
    top: 6px;
    right: 45px;
}

.res .guider {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 5px #ccc;
}

.res .guider_button {
    background: #3498db;
    border: 1px solid #3498db;
    padding: 4px 8px;
    margin-top: 10px;
}

.res .guider_button:hover {
    opacity: .8;
    color: #fff;
}

.res span.subscribers {
    margin-top: -42px;
    z-index: 2147483646 !important
}

/*** END RES ***/

/*** NIGHT MODE ***/





html[lang^="nm"] body {
    background: #161616;
}

html[lang^="nm"] .link, html[lang^="nm"] .side table tbody tr td:first-child, html[lang^="nm"] .sidebox.create .spacer {
    background: #1a1a1a;
    color: #4e4e4e;
}

html[lang^="nm"] .side table, html[lang^="nm"] .sidebox.create .spacer, html[lang^="nm"] .link {
    border: 1px solid #1f1f1f;
}

html[lang^="nm"] body:not(.search-page) #search {
    background: #131313;
    border: 1px solid #1b1b1b;
}

html[lang^="nm"] #search input[type=text] {
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
}

html[lang^="nm"] #searchexpando {
    background: #161616;
    border: 1px solid #1f1f1f;
}

html[lang^="nm"] .side .md blockquote, html[lang^="nm"] .titlebox .bottom, html[lang^="nm"] .sidecontentbox .content, html[lang^="nm"] #ad-frame, html[lang^="nm"] #ad_main, html[lang^="nm"] .footer, html[lang^="nm"] .link .usertext .md, html[lang^="nm"] .commentarea, html[lang^="nm"] .linkinfo, html[lang^="nm"] .linkinfo .shortlink input {
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
    color: #4e4e4e;
}

html[lang^="nm"] .comment .child, html[lang^="nm"] .comment .showreplies {
    border-left: 1px solid #1f1f1f;
}

html[lang^="nm"] .panestack-title {
    border-bottom: 1px solid #1f1f1f;
}

html[lang^="nm"] .commentarea .md blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .thing .md blockquote, html[lang^="nm"] .thing .md blockquote blockquote blockquote  {
    background: #222222;
}

html[lang^="nm"] .commentarea .md blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .commentarea .md blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote, html[lang^="nm"] .thing .md blockquote blockquote, html[lang^="nm"] .thing .md blockquote blockquote blockquote blockquote {
    background: #1d1d1d;
}

html[lang^="nm"] .titlebox form.toggle, html[lang^="nm"] .leavemoderator {
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
    border-bottom: 0;
    color: #4e4e4e;
}

html[lang^="nm"] .side .titlebox .tagline {
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
    border-top: 0;
    color: #4e4e4e;
}

html[lang^="nm"] .icon-menu a {
    background: none;
}

html[lang^="nm"] .side .md blockquote h3 {
    background: #131313;
    border-bottom: 1px solid #1f1f1f;
    color: #4e4e4e;
}

html[lang^="nm"] .sidecontentbox .title, html[lang^="nm"] .account-activity-box {
    background: #131313;
    border: 1px solid #1f1f1f;
    color: #4e4e4e;
}

html[lang^="nm"] .res .RES-keyNav-activeElement {
    background-color: #1a1a1a!important;
    background: linear-gradient(to right,#1a1a1a 0%,#1a1a1a 8%,#202020 100%);
    border-right: 0;
}

html[lang^="nm"] .entry .buttons li a, html[lang^="nm"] .tagline, html[lang^="nm"] .link .flat-list, html[lang^="nm"] .tagline a, html[lang^="nm"] .domain, html[lang^="nm"] .domain a, html[lang^="nm"] a, html[lang^="nm"] .titlebox form.toggle, html[lang^="nm"] .leavemoderator, html[lang^="nm"] #searchexpando label, html[lang^="nm"] .morelink a, html[lang^="nm"] .linkinfo .shortlink {
    color: #4e4e4e;
}

html[lang^="nm"] .thing .title {
    color: #bebebe;
}

html[lang^="nm"] .thing .title:visited, html[lang^="nm"] .link .entry li .comments, html[lang^="nm"] .redditSingleClick, html[lang^="nm"] #header-bottom-right a {
    color: #616161;
}

html[lang^="nm"] .arrow {
    opacity: .3;
}

html[lang^="nm"] .link .rank, html[lang^="nm"] .linkflairlabel, html[lang^="nm"] .nsfw-stamp acronym, html[lang^="nm"] a.userTagLink.RESUserTagImage {
    opacity: .4;
}

html[lang^="nm"] .expando-button.image.expanded {
    background-position: -40px -98px !important;
}

html[lang^="nm"] .expando-button.image.expanded:hover {
    background-position: -60px -98px !important;
}

html[lang^="nm"] .expando-button.image.collapsed {
    background-position: -40px -98px !important;
}

html[lang^="nm"] .expando-button.image.collapsed:hover {
    background-position: -60px -98px !important;
}

html[lang^="nm"] .expando-button.selftext.collapsed {
    background-position: -40px -38px !important;
}

html[lang^="nm"] .expando-button.selftext.collapsed:hover {
    background-position: -60px -38px !important;
}

html[lang^="nm"] .expando-button.selftext.expanded {
    background-position: -40px -58px!important;
}

html[lang^="nm"] .expando-button.selftext.expanded:hover {
    background-position: -60px -58px!important;
}

html[lang^="nm"] .expando-button.video.collapsed {
    background-position: -40px -78px!important;
}

html[lang^="nm"] .expando-button.video.collapsed:hover {
    background-position: -60px -78px!important;
}

html[lang^="nm"] .expando-button.video.expanded {
    background-position: -40px -78px!important;
}

html[lang^="nm"] .expando-button.video.expanded:hover {
    background-position: -60px -78px!important;
}

html[lang^="nm"] .morelink a {
    background-color: #1f1f1f;
    border: 1px solid #262626;
    border-bottom: 1px solid #262626 !important;
}

html[lang^="nm"] .morelink a:hover {
    background: #131313 !important;
    border: 1px solid #0F0F0F !important;
}

html[lang^="nm"] .fancy-toggle-button .remove, html[lang^="nm"] .RESshortcutside.remove, html[lang^="nm"] .RESDashboardToggle.remove {
    background: #131313 !important;
    border: 1px solid #1f1f1f !important;
    color: #4e4e4e !important;
    transition: 100ms;
}

html[lang^="nm"] .fancy-toggle-button .remove:hover, html[lang^="nm"] .RESshortcutside.remove:hover, html[lang^="nm"] .RESDashboardToggle.remove:hover {
    background: #1f1f1f !important;
    border: 1px solid #131313 !important;
    color: #0a0a0a !important;
    transition: 100ms;
}

html[lang^="nm"] .fancy-toggle-button .add, html[lang^="nm"] .RESshortcutside, html[lang^="nm"] .RESDashboardToggle {
    background: #131313 !important;
    border: 1px solid #1f1f1f !important;
    color: #4e4e4e !important;
}

html[lang^="nm"] .fancy-toggle-button .add:hover, html[lang^="nm"] .RESshortcutside.add:hover, html[lang^="nm"] .RESDashboardToggle:hover {
    background: #1f1f1f !important;
    border: 1px solid #131313 !important;
    color: #0a0a0a !important;
    transition: 100ms;
}

html[lang^="nm"] .footer-parent {
    background: #131313;
    border-top: 1px solid #1f1f1f;
}

html[lang^="nm"] .formtabs-content .infobar, html[lang^="nm"] .roundfield, html[lang^="nm"] .content.submit .info-notice, html[lang^="nm"] .linefield {
    background: #1a1a1a;
    border: 1px solid #1f1f1f;
    color: #4e4e4e;
}

html[lang^="nm"] .roundfield textarea, html[lang^="nm"] .roundfield input[type=text], html[lang^="nm"] .roundfield input[type=url], html[lang^="nm"] .roundfield input[type=password], html[lang^="nm"] .roundfield input[type=number], html[lang^="nm"] .usertext-edit textarea, html[lang^="nm"] .pretty-form input[type=text] {
    background: #1a1a1a;
    border: 1px solid #323232;
    color: #4e4e4e;
}

html[lang^="nm"] textarea:focus, html[lang^="nm"] input#sr-autocomplete:focus, html[lang^="nm"] .usertext-edit textarea:focus, html[lang^="nm"] .roundfield input[type=url]:focus {
    border: 1px solid #4f4f4f;
}

.titlebox .md a[href*="#nm"], .titlebox .md a[href*="#dm"] {
    background: rgba(0,0,0,0.5);
    right: 83px;
    top: 30px;
    padding: 7px 12px;
    position: absolute;
    z-index: 9999;
    color: #fff;
    opacity: .3;
    font-size: 90%;
    border-radius: 15px;
    transition: 200ms;
}

.titlebox .md a[href*="#nm"]:hover, .titlebox .md a[href*="#dm"]:hover {
    opacity: 1;
}

.titlebox .md a[href*="#nm"] {
    display: block;
}

.titlebox .md a[href*="#dm"] {
    display: none;
}

html[lang^="nm"] .titlebox .md a[href*="#dm"] {
    display: block;
}

html[lang^="nm"] .titlebox .md a[href*="#nm"] {
    display: none;
}

.res .titlebox .md a[href*="#nm"], .res .titlebox .md a[href*="#dm"] {
    right: 10px !important;
    top: 50px !important;
}

/*** END NIGHT MODE ***/
